body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background: linear-gradient(
    125deg,
    rgba(132, 188, 233, 0.4),
    rgb(132, 188, 233)
  );
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  margin: 0;
  padding-bottom: 10px;
  position: relative;
}

header .title {
  color: black;
  font-family: "Yomogi", cursive;
}

.slider-box {
  width: 150px;
  height: 100%;
  position: absolute;
  animation: header-slide 1s linear 1 forwards;
}

header .slider-box {
  background: white;
}

@keyframes header-slide {
  from {
    transform: translate(0px);
  }

  to {
    transform: translate(150px);
    visibility: hidden;
  }
}

main {
  position: relative;
  animation: grow 1s ease-in 1 forwards;
}

@keyframes grow {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}

.box {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgb(132, 188, 233);
  position: absolute;
  z-index: 1;
  animation: main-fade-in 1s ease-in 1;
  animation-fill-mode: forwards;
}

@keyframes main-fade-in {
  from {
    background: rgb(132, 188, 233);
  }

  to {
    background: rgba(132, 188, 233, 0);
    visibility: hidden;
  }
}

/* aside {
  grid-area: aside;
} */

footer {
  /* margin-top: 20px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(22, 22, 22);
  color: rgb(255, 111, 0);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

footer .slider-box {
  background: rgb(22, 22, 22);
  height: 100%;
}

@keyframes header-slide {
  from {
    transform: translate(0px);
  }

  to {
    transform: translate(150px);
    visibility: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px 20%;
}

.textarea {
  width: 100%;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-add {
  background-color: rgb(68, 149, 216);
  color: white;
  width: 70px;
  border: 0px;
  border-radius: 5px;
  font-size: large;
  padding: 5px;
  margin-top: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 900;
  box-shadow: 2px 3px #999;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
}

.btn-add:hover {
  background-color: rgb(63, 126, 177);
}

.btn-add:active {
  transform: translate(3px, 5px);
  box-shadow: 0px 0px;
}

.notes-flex {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  height: 50vh;
  margin-top: 20px;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}

.notes-flex > .note {
  width: 95%;
  margin-bottom: 20px;
  background-color: rgb(214, 214, 214);
  padding: 10px;
  border-radius: 5px;
}

.note > .note-text {
  width: 100%;
  font-family: "Yomogi", cursive;
  font-size: small;
  overflow-wrap: break-word;
}

.remark {
  background-color: rgb(59, 179, 59);
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  color: white;
  margin-top: 10px;
  border: 0px;
  box-shadow: 2px 2px #999;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
}

.remark:hover {
  background-color: red;
}

.remark:active {
  transform: translate(1px, 2px);
  box-shadow: 0px 0px;
}
